/*header*/
.header {
	background: #F6F8F9;
	height: 50px;
	width: 100%;
	padding: 15px;
}
.logo {
	color: #FA6980;
	font-size: 13px;
	margin-left: 20px;
}
.navigation {
	display: inline-block;
	font-size: 11px;
	color: #343638;
}
.ul-li {
	display: inline-block;
	margin-left: 15px;
}
.home {
	margin-left: 50px;
}
/*paddin-margin error*/
.header-photo {
	margin-left: 50px;
	vertical-align: middle;
}
.main {
	background-color: #F6F8F9;
	height: 1487px;
}
/*section1*/
.section1 {
	background-color: #F6F8F9;
}
.div-main {
	position: relative;
	display: inline-block;
	margin-top: 25px;
	margin-left: 140px;
	
}
.div1 {
	width: 361px;
	height: 355px;
	display: inline-block;
	background: white;
	vertical-align: top;

}
.nature {
	margin-right: 35px;
}
.div1-text {
	display: inline-block;
	font-size: 13px;
	color: #A6ADB4;
	margin-top: 60px;
	margin-left: 38px;
	margin-right: 38px;
}
.time-icon {
	margin-top: 10px;
	margin-left: 38px;
}
.time {
	display: inline-block;
	color: #A6ADB4;
	font-size: 13px;
	margin-top: 11px;
}
.ondiv1 {
	position: absolute;
	color: white;
	font-style: italic;
	top: 100px;
	left: 120px;
} 
/*end*/


/*div2*/
.div2 {
	width: 361px;
	height: 355px;
	display: inline-block;
	background: white;
	vertical-align: top;
	margin-left: 35px;
}
.umbrella {
}
.div1-text {
	display: inline-block;
	font-size: 13px;
	color: #A6ADB4;
	margin-top: 60px;
	margin-left: 38px;
	margin-right: 38px;
}
.time-icon {
	margin-top: 10px;
	margin-left: 38px;
}
.time {
	display: inline-block;
	color: #A6ADB4;
	font-size: 13px;
	margin-top: 11px;
}
.ondiv2 {
	position: absolute;
	color: white;
	font-style: italic;
	top: 100px;
	left: 450px;
}
/*end*/

/*div3*/
.div3 {
	display: inline-block;
	background-color: white;
	width: 361px;
	height: 355px;
	vertical-align: top;
	margin-left: 35px;
}
.div3-text {
	display: inline-block;
	font-size: 13px;
	color: #A6ADB4;
	margin-top: 60px;
	margin-left: 38px;
	margin-right: 38px;
}
.time-icon {
	margin-top: 10px;
	margin-left: 38px;
}
.time {
	display: inline-block;
	color: #A6ADB4;
	font-size: 13px;
	margin-top: 11px;
}
.ondiv3 {
	position: absolute;
	color: white;
	font-style: italic;
	top: 100px;
	left: 810px;
}
/*section2*/
.section2 {
	background-color: #F6F8F9;
}
.section-title {
	margin-bottom: 40px;
	font-size: 24px;
	margin-top: 58px;
	margin-left: 140px;
}
.section2-div1 {
	display: inline-block;
	width: 760px;
	height: 900px;
	margin-left: 140px;
}
.forest {
	margin-top: 40px;
}
.section2-div2 {
	display: inline-block;
	width: 360px;
	height: 900px;
	margin-left: 40px;
}
.parrot {
	margin-top: 102px;
}
.mountain {
	margin-top: 102px;
	margin-bottom: 62px;
}
/*footer*/
.footer {
	padding-left: 142px;
	padding-top: 47px;
	width: 100%;
	height: 200px;
	background-color: #A6ADB4;
}
.footer-logo {
	display: inline-block;
	font-size: 13px;
	vertical-align: top;

}
.ul1 {
	vertical-align: top;
	display: inline-block;
	color: #CBD0D3;
	font-size: 13px;
	margin-left: 50px;
}
.ul2 {
	display: inline-block;
	color: #CBD0D3;
	font-size: 13px;
	margin-left: 50px;	
}
.ul3 {
	vertical-align: top;
	display: inline-block;
	color: #CBD0D3;
	font-size: 13px;
	margin-left: 50px;	
}
.footer-text {
	vertical-align: top;
	display: inline-block;
	font-size: 13px;
	color: #CBD0D3;
	margin-left: 105px;
}
.instagram {
	vertical-align: top;
	margin-left: 165px;
}
.twitter {
	vertical-align: top;
	margin-left: 20px;
}
.facebook {
	vertical-align: top;
	margin-left: 20px;
}
.web {
	vertical-align: top;
	margin-left: 20px;
}